= simple_form_for [@course, lecture] do |f|
  .field
    = f.input :title, maxlength: 100
  %p
    - if @lecture.video.attached?
      = 'Video Uploaded: ' + @lecture.video.filename.to_s
      = link_to 'Delete Video', delete_video_course_lecture_path(@course, @lecture), method: :delete,
        data: { confirm: 'Are you sure?' }, class: 'btn btn-danger min-width-btn'
      %p
        = f.input :video, label: 'Replace Video:'
    - else
      %p
        = f.input :video, label: 'New Video:'
  .actions.pt-2
    = f.button :submit, class: 'btn btn-primary min-width-btn'
    = link_to 'Cancel', course_lectures_path(@course), class: 'btn btn-danger min-width-btn'
