%p
  = lecture.title
%p
  - if lecture.video.attached?
    %video(controls='true' width='100%' preload='metadata' controlslist='nodownload')
      %source{src: rails_blob_url(lecture.video), type:"#{lecture.video.content_type}"}
