%h4
  = link_to 'All Courses', courses_path
  |
  = link_to @course.title, edit_course_path(@course)
  |
  Lectures
  %span.badge-count.badge.rounded-pill.bg-primary
    = @course.lectures.count

.container.border.mb-3
  - if @lectures.none?
    No Lectures
  - else
    - @lectures.each do |lecture|
      .row.border-top
        .col-5.d-lg-flex.align-items-center
          %i.fas.fa-arrow-right
          = lecture.title
        .col-7.d-lg-flex.align-items-center
          %span.p-3.mb-1
            = link_to 'Edit Lecture', edit_course_lecture_path(@course, lecture), class:'btn btn-primary min-width-btn btn mb-1'
          %span.p-3.mb-1
            = link_to 'Preview Lecture', course_lecture_path(@course, lecture), class:'btn btn-success min-width-btn btn mb-1'
          %span.trash-icon.p-3.mb-1
            = link_to '<i class="far fa-trash-alt"></i>'.html_safe, [@course, lecture], method: :delete,
                                                         data: { confirm: 'Are you sure?' }

.col
  = link_to 'New Lecture', new_course_lecture_path(@course), class:'btn btn-primary min-width-btn'
  = link_to 'Cancel', edit_course_path(@course), class:'btn btn-danger min-width-btn'
