%h4
  = link_to 'Courses', courses_path
  |
  = link_to @course.title, edit_course_path(@course)
  |
  = link_to 'Lectures', course_lectures_path(@course, @lecture)

.container.border
  %h4.mt-2
    New Lecture
  = render 'form', lecture: @lecture
