%p
  %strong Title:
  = @lecture.title
%p
  %strong Video:
  - if @lecture.video.attached?
    %video(controls='true' width='100%' height='600px' preload='metadata' controlslist='nodownload')
      %source{src: rails_blob_url(@lecture.video), type:"#{@lecture.video.content_type}"}
  - else
    No Video

.col
  = link_to 'Back to Lectures', course_lectures_path(@course), class:'btn btn-primary min-width-btn'
