.col-4
.col-4
  .shadow.welcome
    .card.p-5
      .card-header.text-center
        = image_tag 'learn-able-logo.png'
      .card-body.text-center
        = link_to "Log In", new_user_session_path, class:'btn btn-primary min-width-btn'
        = link_to "Sign Up", new_user_registration_path, class:'btn btn-success min-width-btn'
