//@import "./actiontext.scss";
@import url('//fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

body {
  background-color: #d2a9e040;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #00b3db;
  border-color: #285e8e; /*set the color you want here*/
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
  border-color: #285e8e; /*set the color you want here*/
}

.form-control {
  width: 100%;
}

a {
    text-decoration: none;
}

abbr[title] {
  text-decoration: none;
}

span.badge-count {
  font-size: 9px;
  vertical-align: middle;
}

.course-preview-nav {
  max-height: calc(100vh - 150px);

  .progress .progress-bar {
    width: 25%;
    border: 1px solid #ffffff;
  }
  .percentage {
    font-size: 20px;
  }
  .row:hover.lecture-info:not(.lecture-selected) {
     background-color: yellow;
     cursor: pointer;
  }

  .lecture-selected {
    background-color: grey;
    cursor: default;
  }

  .small {
    font-size: 14px;
    font-weight: 600;
  }
}

.course-preview-content {
}

.lecture-info a {
  text-decoration: none;
  color: black;
}

.lecture-name {
  font-weight: 200;
}

.shadow.app-content {
  padding: 20px;
  background-color: white;
}

.shadow.preview {
  padding: 20px;
  height: 850px;
  background-color: white;
}

.shadow.welcome {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-30%)
}

.trash-icon a {
  text-decoration: none;
  font-size: 24px;
  color: red;
}