.row
  %h2
    = course.title
.row
  .col-3.course-preview-nav.border.overflow-auto
    .row
      .progress
        .progress-bar
      .row
        .small
          %span.percentage
            25%
          COMPLETE
    - course.lectures.each_with_index do |lecture, index|
      .row.lecture-info{ class: ('lecture-selected' if lecture.id==@lecture.id) }
        = link_to preview_course_path(@course, lecture: lecture.id) do
          %p
          %p
            %span.status-container
              %span.status-icon
                <i class="far fa-circle"></i>
              %span.lecture-icon
                - if lecture.video.attached?
                  <i class="fas fa-video"></i>
              %span.lecture-name
                = "#{index+1}. #{lecture.title}"
  .col-9.course-preview-content.border-top
    - if @lecture
      = render 'lectures/lecture', lecture: @lecture
    - else
      No Lectures

