= simple_form_for course do |f|
  .field
    = f.input :title, maxlength: '100'
  .actions.pt-2
    = f.button :submit, class: 'btn btn-success min-width-btn'
    = link_to 'Cancel', courses_path, class:'btn btn-danger min-width-btn'
