%h4
  = link_to 'All Courses', courses_path
  |
  = @course.title

.container.border
  %h4.mt-2
    Edit Course
  = render 'form', course: @course
  %p
    = link_to 'Show Lectures', course_lectures_path(@course), class:'btn btn-primary min-width-btn'
