%h4
  All Courses
  %span.badge-count.badge.rounded-pill.bg-primary
    = @courses.count

.container.border.mb-3
  - @courses.each do |course|
    .row.border-top
      .col-5.d-lg-flex.align-items-center
        %i.fas.fa-arrow-right
        = course.title
        = " (#{course.user.try(:email) || 'no user'})"
      .col-7.d-lg-flex.align-items-center
        - if course.user == current_user
          %span.p-3.mb-1
            = link_to 'Edit Course', edit_course_path(course), class:'btn btn-primary min-width-btn mb-1'
          %span.p-3.mb-1
            = link_to 'Preview Course', preview_course_path(course), class:'btn btn-success min-width-btn mb-1'
          %span.trash-icon.p-3.mb-1
            = link_to '<i class="far fa-trash-alt"></i>'.html_safe, course, method: :delete,
                                                       data: { confirm: 'Are you sure?' }
        - else
          %span.p-3.mb-1
            = link_to 'Preview Course', preview_course_path(course), class:'btn btn-success min-width-btn mb-1'

.col
  = link_to 'New Course', new_course_path, class:'btn btn-primary min-width-btn'
