- unless current_page?(root_path)
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
      %a.navbar-brand{href: '/'}
        = image_tag 'learn-able-white.png', size: '133x45', alt: 'logo'
      %button.navbar-toggler{'aria-controls': 'navbarSupportedContent', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation', 'data-bs-target': '#navbarSupportedContent', 'data-bs-toggle': 'collapse', type: 'button'}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        - if current_user
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item{class: "#{'active font-weight-bold' if current_page?(courses_path)}"}
              = link_to courses_path, class: 'nav-link' do
                .fa.fa-book
                Courses
            %li.nav-item{class: "#{'active font-weight-bold' if current_page?(new_course_path)}"}
              = link_to new_course_path, class: 'nav-link' do
                .fa.fa-plus
                New Course
          %ul.navbar-nav.me-right
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', href: '#', role: 'button'}
                %b= current_user.email
              %ul.dropdown-menu{'aria-labelledby': 'navbarDropdown'}
                %li
                  = link_to edit_user_registration_path, class: 'dropdown-item' do
                    .fa.fa-cog
                    %b Account Settings
                %li
                  = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
                    .fa.fa-si9gn-out-alt
                    %b Sign Out

